<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Backbone TutsPlus</title>
  <meta name="description" content=" " />
  <meta name="author" content=" " />
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>

  <div id="contactsAppMessage" class="container"></div>
  <div id="contactsApp" class="container"></div>

  <!-- Used together with todo-app.js but better to use templates, see contacts app -->
  <!-- <h1>Tasks</h1>
  <form id="addTask" action="">
    <input type="text" placeholder="Enter task...">
    <input type="submit" value='Add'>
  </form>
  <div class="container"></div> -->

  <!-- templates -->
  <script id="taskTemplate" type="text/template">
    <span class="task-title"><%= title %></span>
    <span class="task-priority"><%= priority %></span>
    <div class="task-actions">
      <button id="editTask">Edit</button>
      <button id="deleteTask">Delete</button>
    </div>
  </script>

  <script id="contactFormTemplate" type="text/template">
    <form id="addContact">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea name="description" id="description"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" value="Add">
      </div>
    </form>
  </script>

  <script id="messageTemplate" type="text/template">
    <div class="message-container <%= messageType %>">
      <div id="message" class="message"><%= messageText %></div>
      <button id="clearMessage">X</button>
    </div>
  </script>

  <script id="allContactsTemplate" type="text/template">
    <table id="allContacts">
      <thead>
        <tr>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Email</td>
          <td>Description</td>
          <td>Actions</td>
        </tr>
      </thead>
      <!-- ContactsApp.Views.Contacts inserts table rows in here for each contact -->
      <tbody id="allContactsTableBody"></tbody>
    </table>
  </script>

  <script id="contactTemplate" type="text/template">
    <td><%=first%></td>
    <td><%=last%></td>
    <td><%=email%></td>
    <td><%=description%></td>
    <td><a href="#contacts/<%=id%>" class="delete">Delete</a></td>
  </script>

  <!-- vendor -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>

  <!-- app -->
  <script src="scripts/templateHelper.js"></script>
  <script src="scripts/main.js"></script>
  <script src="scripts/contacts-app/models.js"></script>
  <script src="scripts/contacts-app/collections.js"></script>
  <script src="scripts/contacts-app/views.js"></script>
  <script src="scripts/contacts-app/router.js"></script>
  <script src="scripts/contacts-app/bootstrap.js"></script>
</body>

</html>
