li.person {
  list-style-type: none;
}
.person {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  line-height: 2;
  padding: 20px;
  margin: 10px;
  background: #E6E9EA;
  color: #333;
  width: 27%;
  border: 1px solid #cbcfd1;
  border-radius: 5px;
}
