.hide {
  opacity: 0;
}

.show {
  opacity: 1
}

.container {
  transition: opacity 0.5s ease;
}

.form-group {
  margin: 2px;
  padding: 5px;
}

.message-container {
  width: 25%;
  margin: 10px;
  padding: 10px;
  font-family: Arial, sans-serif;
  border: 1px solid transparent;
  border-radius: 3px;
}

.success {
  color: rgb(6, 99, 72);
  background: #D6F0C7;
}

.error {
  color: rgb(99, 6, 31);
  background: #f6aea7;
}

.message {
  display: inline-block;
}

button#clearMessage {
  float: right;
}

form {
  margin-bottom: 1em;
}

thead td {
  font-weight: bold;
}
