/*
$color1: #595959; //rgba(89, 89, 89, 100)
$color2: #b7a389; //rgba(183, 163, 137, 100)
$color3: #eacdbe; //rgba(234, 205, 190, 100)
$color4: #f6f8ff; //rgba(246, 248, 255, 100)
$color5: #b3c3ff; //rgba(179, 195, 255, 100)
*/

li.task {
  list-style-type: none;
}

.task {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  line-height: 2;
  padding: 20px;
  margin: 10px;
  background: #f6f8ff;
  color: #595959;
  width: 30%;
  border: 1px solid #595959;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.task:hover {
  color: #f6f8ff;
  background: #595959;
  -webkit-box-shadow: 3px 3px 4px 1px rgba(128,119,128,0.5);
     -moz-box-shadow: 3px 3px 4px 1px rgba(128,119,128,0.5);
          box-shadow: 3px 3px 4px 1px rgba(128,119,128,0.5);
}

.task-actions {
  display: inline-block;
  float: right;
}

.task-actions button {
  cursor: pointer;
}
